/**
 * Common Style Sheet
 * IBI Shik
 *
 * Copyright (c) 2016. by Way2CU, http://way2cu.com
 * Authors:Tal Reznic
 */

@font-face {
  font-family: 'Arimo';
  font-weight: 400;
  src: url(../images/fonts/arimo_hebrew.woff2) format('woff');
}

@font-face {
  font-family: 'Arimo';
  font-weight: 700;
  src: url(../images/fonts/arimo_hebrew_bold.woff2) format('woff');
}

@color_blue: #293043;
@color_orange: #f78f1e;
@color_text: #231f20;
@color_grey: #7f8c8d;
@color_light_grey: #bdc3c7;
@color_bright_grey: #ecf0f1;
@color_white: #fff;

button,
.action {
  display: inline-block;
  text-decoration: none;
  padding: 1.5em 1.5em;
  background-color: @color_orange;
  color: white;
  font-weight: 700;
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: 0px 0px 8px fade(@color_text, 30%);
  transition: all 0.3s;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

button:after,
button:before,
.action:after,
.action:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100%;
  background-color: darken(@color_orange, 5%);
  transition: all 0.3s;
  z-index: -1;
}

button:after,
.action:after {
  left: auto;
  right: -100%;
}

button:hover:before,
.action:hover:before {
  left: 0%;
}

button:hover:after,
.action:hover:after {
  right: 0%;
}

@color_background: white;
@color_text: #333333;

@section_spacing: 4rem;
@header_spacing: 1rem;
@paragraph_spacing: 1rem;
@button_padding: 0.5rem 1rem;
@input_padding: 0.5rem;
@finger_size: 2.5rem;
