/**
 * Content Mobile Style Sheet
 * IBI-Shik 2016
 *
 * Copyright (c) 2016. by Way2CU, http://way2cu.com
 * Authors:Tal Reznic
 */

ul#program:target,
section#gallery:target,
section#map:target,
section#lecturers:target {
  padding-top: 6em;
}

section {
  padding: 1em 0.5em;
}

div#form:target {
  padding-top: 4em;
}

section.intro {
  padding: 0;
  padding-top: 2.5em;
  text-align: center;
  background-image: url(../images/header-mobile.jpg);
  background-color: #505050;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% auto;
  height: calc(~'(100vw * 1.25 - 2.5em)');
}

section.intro svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  height: auto;
  fill: @color_white;
  stroke: @color_white;
}

section.intro img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  height: auto;
}

section.intro p {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em 2em;
  font-size: 1.2em;
  color: @color_white;
}

section.intro p strong {
  display: none;
}

section.intro a.action {
  font-size: 1em;
  padding: 0.5em 1.5em;
}

section#about article,
section#about div.form_container {
  display: block;
  vertical-align: top;
  box-sizing: border-box;
  overflow: hidden;
}

section#about div.form_container {
  text-align: center;
  border: 1px solid @color_bright_grey;
  border-radius: 10px;
  padding-bottom: 1em;
}

section#about div.form_container h4 {
  margin: 0;
  padding: 1em 0em;
  background-color: @color_bright_grey;
}

section#about div.form_container span {
  display: block;
  text-align: right;
  padding: 1em 1em;
  padding-bottom: 0em;
}

div.dialog_form span {
  display: inline-block;
  padding: 0.3em 1em;
}

section#about div.form_container form {
  padding: 1em 1em;
}

div.dialog_form form {
  padding: 1em 4em;
}

div.dialog_form form label,
section#about div.form_container form label {
  display: block;
  margin-bottom: 1em;
}

div.dialog_form form label input,
section#about div.form_container form label input {
  width: 100%;
  padding: 1em 0.2em;
  border: 2px solid @color_light_grey;
  box-sizing: border-box;
  transition: all 0.3s;
}

div.dialog_form form label input {
  padding: 0.7em 0.2em;
}

div.dialog_form form label.checkbox input,
section#about div.form_container form label.checkbox input {
  display: inline-block;
  vertical-align: middle;
  width: 1.5em;
  height: 1.5em;
}

div.dialog_form form label input:hover,
section#about div.form_container form label input:hover {
  border-color: lighten(@color_orange, 30%);
}

div.dialog_form form label input:focus,
section#about div.form_container form label input:focus {
  border-color: @color_orange;
}

div.dialog_form form label span,
section#about div.form_container form label span {
  font-size: 0em;
}

div.dialog_form form label.checkbox span,
section#about div.form_container form label.checkbox span {
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  box-sizing: border-box;
  padding: 0em 0.2em;
  font-size: 1em;
  width: calc(~'(100% - 1.5em)');
}

div.dialog_form form div.controls {
  text-align: center;
}

section#about div.form_container form div.controls button {
  cursor: pointer;
  padding: 1.2em 3em;
}

div.dialog_form form div.controls button {
  padding: 1em 1.5em;
}

section#map h2,
section#lecturers h2,
section#about article h2 {
  display: block;
  margin: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid @color_orange;
  color: @color_orange;
  position: relative;
}

section#about div.images {
  padding: 0.5em 0em;
  text-align: center;
}

section#about article a {
  display: inline-block;
  border: 1px solid @color_bright_grey;
}

section#about article a:nth-of-type(2) {
  margin: 0em 0.5em;
}

section#about article img {
  display: block;
}

section#plan {
  padding: 4em 0em;
  background-image: url(../images/mobile-subject.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% auto;
  text-align: center;
}

section#plan article {
  padding: 1em;
  background-color: fade(white, 80%);
}

section#plan h2 {
  color: @color_orange;
  font-size: 1.5em;
}

section#plan p {
  font-size: 1em;
}

section#lecturers {
  padding: 0;
}

section#lecturers ul.features,
section#lecturers ul.lecture {
  display: block;
  margin: 0;
  padding: 1.5em 0em;
  text-align: center;
  list-style-type: none;
  position: relative;
}

section#lecturers ul.lecture li {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 1em;
  box-sizing: border-box;
  text-align: center;
  background-color: @color_blue;
  color: white;
  width: 280px;
}

section#lecturers ul.lecture li:last-of-type {
  margin-bottom: 0;
}

section#lecturers ul.lecture li h3 {
  margin: 0;
  padding-bottom: 0.5em;
  font-size: 1.2em;
}

section#lecturers ul.lecture li > p:first-of-type {
  border-bottom: 1px solid white;
  margin: 0 1em;
  padding-bottom: 1em;
}

section#lecturers ul.lecture li a {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  line-height: 100%;
  color: white;
  padding: 1em 2em;
  transition: all 0.3s;
}

section#lecturers ul.lecture li a svg {
  display: inline-block;
  vertical-align: middle;
  padding: 0em 0.3em;
  width: 1.5em;
  height: 1.5em;
  fill: white;
  transition: all 0.3s;
}

section#lecturers ul.lecture li div.information.show {
  opacity: 1;
  visibility: visible;
  max-height: 500px;
  padding: 0;
}

section#lecturers ul.lecture li div.information {
  text-align: right;
  background-color: white;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  color: @color_text;
  transition: all 0.3s;
}

section#lecturers ul.lecture li div.information p {
  margin: 0;
}

section#lecturers ul.lecture li div.information strong {
  display: inline-block;
  padding-bottom: 0.5em;
}

section#lecturers ul.lecture li div.information a {
  text-decoration: none;
  color: @color_orange;
  padding: 0.5em;
  font-size: 1.5em;
}

section#lecturers ul.features li {
  display: block;
  margin-bottom: 2em;
  text-align: center;
  box-sizing: border-box;
}

section#lecturers ul.features li span {
  display: block;
  margin-left: auto
;  margin-right: auto;
  padding: 1em;
  width: 3em;
  height: 3em;
  background-color: @color_orange;
  border-radius: 50%;
  transition: all 0.3s;
}

section#lecturers ul.features li span svg {
  width: 3em;
  height: 3em;
  fill: white;
  transition: all 0.3s;
}

section#lecturers ul.features li h4 {
  margin: 0;
  padding-top: 0.5em;
}

section#lecturers ul.features li p {
  margin: 0;
  padding: 0em 3em;
  color: @color_grey;
}

ul#program {
  margin: 0;
  padding: 0em 3em;
  list-style-type: none;
  overflow: hidden;
}

ul#program li {
  display: block;
  margin-bottom: 4em;
  padding: 1em 0em;
  text-align: center;
  border: 1px solid @color_orange;
  background-color: white;
  position: relative;
}

ul#program li:last-of-type {
  margin-bottom: 0;
}

ul#program li:before {
  content: "";
  position: absolute;
  top: calc(~'(100% + 1.5em)');
  left: 50%;
  width: 1em;
  height: 1em;
  transform: translatex(-50%);
  background-color: white;
  border-radius: 50%;
  border: 1px solid @color_orange;
  transition: all 0.3s;
}

ul#program li:first-of-type:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translatex(-50%);
  height: 960px;
  width: 1px;
  background-color: @color_orange;
  z-index: -1;
}

ul#program li h4,
ul#program li p {
  margin: 0;
}

ul#program li h4 {
  color: @color_grey;
}

ul#program li strong {
  display: block;
  padding: 0.2em 0em;
}

section#map img {
  display: block;
  width: 100%;
  height: auto;
}

section#map div.location_container {
  display: block;
}

section#map div.location_container div {
  display: block;
  border-bottom: 1px solid @color_light_grey;
}

a.waze,
a.google {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  padding: 1em 1.5em;
  background-color: white;
  color: @color_orange;
  border: 1px solid @color_orange;
  transition: all 0.3s;
}

a.waze {
  padding: 0.55em 2.5em;
  margin-right: 1em;
  margin-bottom: 1em;
  text-transform: uppercase;
  font-weight: 700;
  color: @color_light_grey;
}

a.waze:hover,
a.google:hover {
  background-color: @color_orange;
  color: white;
}

a.waze svg {
  display: inline-block;
  vertical-align: middle;
  padding: 0em 0.2em;
  width: 2em;
  height: 2em;
}

section#gallery {
  padding: 0;
  text-align: center;

  h2 {
    text-align: center;
    margin: 0;
    padding: 1em 0;
    color: @color_orange;

    &:after {
      content: '';
      display: block;
      width: 90%;
      height: 2px;
      background-color: @color_orange;
      margin: 0 auto;
    }
  }
}

section#gallery a.image {
  display: inline-block;
  vertical-align: top;
  margin-left: 0.2em;
  margin-right: 0.2em;
  margin-bottom: 0.4em;
  overflow: hidden;
}

section#gallery a.image img {
  width: 150px;
  height: 100px;
}


/**
 * Dialog form
 */
div.dialog {
  width: 500px;
  top: -150%;
}

div.dialog.visible {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
}

div.dialog-background.visible {
  opacity: 0.9;
}

div.dialog div.title {
  background-color: @color_orange;
  text-align: center;
}

div.dialog div.command_bar a {
  background-color: white;
  border: 1px solid @color_blue;
  color: @color_blue;
}
