/**
 * Content Style Sheet
 * IBI - Shik
 *
 * Copyright (c) 2016. by Way2CU, http://way2cu.com
 * Authors:Tal Reznic
 */

section#gallery:target,
section#map:target,
section#lecturers:target,
section#about:target {
  padding-top: 6em;
}

ul#program:target {
  padding-top: 8em;
}

section {
  padding: 2em calc(~'(100% - 1200px)' / 2);
}

section.intro {
  text-align: center;
  padding-top: 8em;
  padding-bottom: 8em;
  background-image: url(../images/header-desktop.jpg);
  background-repeat: no-repeat;
  background-position: center top;
}

section.intro svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: auto;
  fill: @color_white;
  stroke: @color_white;
}

section.intro img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: auto;
}

section.intro p {
  width: 40%;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em 0em;
  font-size: 3em;
  color: @color_white;
}

section.intro p strong {
  display: none;
}

section.intro a.action {
  font-size: 1.5em;
  padding: 1em 2em;
}

section#about article,
section#about div.form_container {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width: 45%;
  overflow: hidden;
}

section#about div.form_container {
  margin-right: 10%;
  text-align: center;
  border: 1px solid @color_bright_grey;
  border-radius: 10px;
  padding-bottom: 1em;
}

section#about div.form_container h4 {
  margin: 0;
  padding: 1em 0em;
  background-color: @color_bright_grey;
}

section#about div.form_container span {
  display: block;
  text-align: right;
  padding: 1em 1em;
  padding-bottom: 0em;
}

div.dialog_form span {
  display: inline-block;
  padding: 0.3em 1em;
}

section#about div.form_container form {
  padding: 1em 1em;
}

div.dialog_form form {
  padding: 1em 4em;
}

div.dialog_form form label,
section#about div.form_container form label {
  display: block;
  margin-bottom: 1em;
}

div.dialog_form form label input,
section#about div.form_container form label input {
  width: 100%;
  padding: 1em 0.2em;
  border: 2px solid @color_light_grey;
  box-sizing: border-box;
  transition: all 0.3s;
}

div.dialog_form form label input {
  padding: 0.7em 0.2em;
}

div.dialog_form form label.checkbox input,
section#about div.form_container form label.checkbox input {
  display: inline-block;
  vertical-align: middle;
  width: 1.5em;
  height: 1.5em;
}

div.dialog_form form label input:hover,
section#about div.form_container form label input:hover {
  border-color: lighten(@color_orange, 30%);
}

div.dialog_form form label input:focus,
section#about div.form_container form label input:focus {
  border-color: @color_orange;
}

div.dialog_form form label span,
section#about div.form_container form label span {
  font-size: 0em;
}

div.dialog_form form label.checkbox span,
section#about div.form_container form label.checkbox span {
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  box-sizing: border-box;
  padding: 0em 0.2em;
  font-size: 1em;
  width: calc(~'(100% - 1.5em)');
}

div.dialog_form form div.controls {
  text-align: center;
}

section#about div.form_container form div.controls button {
  cursor: pointer;
  padding: 1.2em 3em;
}

div.dialog_form form div.controls button {
  padding: 1em 1.5em;
}

section#map h2,
section#lecturers h2,
section#about article h2 {
  display: inline-block;
  color: @color_orange;
  position: relative;
}

section#map h2:after,
section#lecturers h2:after,
section#about article h2:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 105%;
  width: 500px;
  height: 1px;
  transform: translatey(-50%);
  background-color: @color_orange;
}

section#map h2:after,
section#lecturers h2:after {
  width: 1200px;
}

section#about article p {
  font-size: 1.3em;
}

section#about article p:first-of-type {
  margin-top: 0;
}

section#about article a {
  display: inline-block;
  border: 1px solid @color_bright_grey;
}

section#about article div.images {
  text-align: center;
}

section#about article a:nth-of-type(2) {
  margin: 0em 0.5em;
}

section#about article img {
  display: block;
}

section#plan {
  padding: 10em calc(~'(100% - 800px)' / 2);
  background-image: url(../images/subject-background.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 1920px 500px;
  text-align: center;
}

section#plan h2 {
  color: @color_orange;
}

section#plan p {
  font-size: 1.3em;
}

/*
 * Lecturers list
 */

section#map,
section#lecturers {
  padding: 0;
  padding-bottom: 2em;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

section#map {
  padding-bottom: 0;
}

section#lecturers ul.features,
section#lecturers ul.lecture {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
  text-align: center;
}

section#lecturers ul.features {
  padding-top: 4em;
}

section#lecturers ul.lecture li {
  display: inline-block;
  vertical-align: top;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 2rem;
  box-sizing: border-box;
  text-align: center;
  width: 250px;
  background-color: @color_blue;
  color: white;

  &:nth-of-type(1),
  &:nth-of-type(2),
  &:nth-of-type(3) {
    margin-right: 35px;
    margin-left: 35px;
  }
}

section#lecturers ul.lecture li h3 {
  margin: 0;
}

section#lecturers ul.lecture li > p:first-of-type {
  border-bottom: 1px solid white;
  margin: 0 1em;
  padding-bottom: 1em;
}

section#lecturers ul.lecture li > a {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  line-height: 100%;
  color: white;
  padding: 1em 2em;
  transition: all 0.3s;
}

section#lecturers ul.lecture li a:hover {
  color: @color_orange;
}

section#lecturers ul.lecture li a:hover svg {
  fill: @color_orange;
}

section#lecturers ul.lecture li a svg {
  display: inline-block;
  vertical-align: middle;
  padding: 0em 0.3em;
  width: 1.5em;
  height: 1.5em;
  fill: white;
  transition: all 0.3s;
}

section#lecturers ul.lecture li div.information.show {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}

section#lecturers ul.lecture li div.information {
  position: absolute;
  text-align: right;
  padding: 1em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 600px;
  background-color: white;
  -webkit-filter: drop-shadow(0px 0px 8px fade(@color_text, 30%));
  color: @color_text;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

section#lecturers ul.lecture li div.information strong {
  display: inline-block;
  padding-bottom: 0.5em;
}

section#lecturers ul.lecture li div.information a {
  text-decoration: none;
  color: @color_orange;
  padding: 0.5em;
  font-size: 1.5em;
}

/**
 * Features list
 */

section#lecturers ul.features li {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  box-sizing: border-box;
  width: 33.3%;
}

section#lecturers ul.features li:hover span {
  border-radius: 0;
}

section#lecturers ul.features li:hover svg {
  transform: rotate(360deg);
}

section#lecturers ul.features li span {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  width: 3em;
  height: 3em;
  background-color: @color_orange;
  border-radius: 50%;
  transition: all 0.3s;
}

section#lecturers ul.features li span svg {
  width: 3em;
  height: 3em;
  fill: white;
  transition: all 0.3s;
}

section#lecturers ul.features li h4 {
  margin-bottom: 0;
}

section#lecturers ul.features li p {
  margin: 0;
  padding: 0em 3em;
  color: @color_grey;
}

/**
 * Program list
 */
ul#program {
  margin: 0;
  padding: 0;
  padding-top: 6em;
  list-style-type: none;
  display: flex;
}

ul#program li {
  vertical-align: top;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  flex: 1;

  padding: 0rem 1rem;
}

ul#program li:hover:before {
  transform: translatex(-50%) scale(1.4);
  background-color: @color_orange;
  border-color: @color_light_grey;
}

ul#program li:before {
  content: "";
  position: absolute;
  top: -2em;
  left: 50%;
  width: 1em;
  height: 1em;
  transform: translatex(-50%);
  background-color: white;
  border-radius: 50%;
  border: 1px solid @color_orange;
  transition: all 0.3s;
}

ul#program li:not(:last-child):after {
  content: "";
  position: absolute;
  top: -1.5em;
  right: calc(~'(50% + 0.5em)');
  width: 100%;
  height: 1px;
  background-color: @color_orange;
}

ul#program li h4 {
  margin: 0;
  font-size: 1em;
}

ul#program li p {
  margin: 0;
  font-size: 1em;
  color: darken(@color_light_grey, 30%);
  font-style: italic;

  strong {
    font-style: normal;

    &:first-child {
      color: initial;
    }

    &:not(:first-child) {
      padding: 0.5rem;
      margin-top: 1rem;
      color: @color_orange;
    }
  }
}

ul#program li h4 {
  color: @color_grey;
}

ul#program li strong {
  display: block;
  padding: 0.2em 0em;
}

/**
 * Location articles
 */

section#map img {
  display: inline-block;
  vertical-align: top;
  width: 700px;
}

section#map div.location_container {
  display: inline-block;
  vertical-align: top;
  padding-left: 1em;
  box-sizing: border-box;
  width: calc(~'(100% - 700px)');
}

section#map div.location_container div {
  display: block;
  border-bottom: 1px solid @color_light_grey;
}

a.waze,
a.google {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  padding: 1em 1.5em;
  background-color: white;
  color: @color_orange;
  border: 1px solid @color_orange;
  transition: all 0.3s;
}

a.waze {
  padding: 0.55em 2.5em;
  margin-right: 1em;
  margin-bottom: 1em;
  text-transform: uppercase;
  font-weight: 700;
  color: @color_light_grey;
}

a.waze:hover,
a.google:hover {
  background-color: @color_orange;
  color: white;
}

a.waze svg {
  display: inline-block;
  vertical-align: middle;
  padding: 0em 0.2em;
  width: 2em;
  height: 2em;
}

section#gallery {
  padding: 1em calc(~'(100% - 1200px)' / 2);
  text-align: center;

  h2 {
    text-align: initial;
    color: @color_orange;
    background-color: white;
    position: relative;
    margin: 0;
    padding: 1em 0;

    &:before {
      content: '';

      position: absolute;
      top: 50%;
      left: 0;
      width: 70%;
      height: 2px;
      background-color: @color_orange;
    }
  }
}

section#gallery a.image {
  display: inline-block;
  vertical-align: top;
  height: 211px;
  overflow: hidden;
  margin-bottom: 1em;
}

section#gallery a.image:nth-of-type(3n + 2) {
  margin: 0em 1em;
}

section#gallery a.image:hover img {
  display: block;
  transform: scale(1.2);
}

section#gallery a.image img {
  transition: all 0.3s;
}

/**
 * Dialog form
 */

div.dialog {
  width: 500px;
  top: -150%;
}

div.dialog.visible {
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
}

div.dialog-background.visible {
  opacity: 0.9;
}

div.dialog div.title {
  background-color: @color_orange;
  text-align: center;
}

div.dialog div.command_bar a {
  background-color: white;
  border: 1px solid @color_blue;
  color: @color_blue;
}

/**
 * Tablet version
 */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

header nav a {
  padding: 2em 0.7em;
}

header h1 {
  font-size: 1em;
  padding-right: 0.5em;
}

header a.action {
  left: 0.5em;
}

section.intro p {
  width: 50%;
}

section {
  padding: 2em calc(~'(100% - 900px)' / 2);
}

section#lecturers ul.lecture {
  padding: 0 calc(~'(100vw - 800px)' / 2);
  text-align: center;
}

section#lecturers ul.lecture li:nth-of-type(1),
section#lecturers ul.lecture li {
  margin-right: 0.5em;
  margin-left: 0.5em;
  margin-bottom: 1em;
}

section#map div.location_container {
  display: block;
  padding: 0;
  width: auto;
}

section#map img {
  display: block;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
}

}
