/**
 * Footer Style Sheet
 * IBI-Shik 2016
 *
 * Copyright (c) 2016. by Way2CU, http://way2cu.com
 * Authors:Tal Reznic
 */

footer {
  text-align: center;
  background-color: #181832;
  color: @color_white;
}

footer div.footer_content {
  padding: 20px calc(~'(100% - 1200px)' / 2);
  // background-image: url(../images/footer-desktop.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  // min-height: 550px;
  position: relative;
}

footer div.footer_content svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  width: 25%;
  height: auto;
  fill: @color_white;
  stroke: @color_white;
}

footer div.footer_content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  width: 25%;
  height: auto;
}

footer div.footer_content p {
  font-size: 3em;
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
}

footer div.footer_content p strong {
  display: none;
}

footer div.footer_content div.sign {
  display: block;
  width: 300px;
  margin: 0rem auto;
  margin-top: 3.5rem;

  a.action {
    font-size: 1.5rem;
    padding: 1em 2em;
  }
}

footer div.footer_content div.sign span {
  display: block;
  padding-bottom: 0.5em;
  font-size: 2em;
  font-weight: 700;
  color: white;
}

footer div.copyright {
  display: inline-block;
  color: white;
}

footer div.copyright a {
  color: white;
}
