/**
 * Footer Mobile Style Sheet
 * IBI-Shik 2016
 *
 * Copyright (c) 2016. by Way2CU, http://way2cu.com
 * Authors:Tal Reznic
 */

footer {
  text-align: center;
  background-color: #181832;
  color: @color_white;
}

footer div.footer_content {
  padding: 0;
  // background-image: url(../images/header-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% auto;
  // height: calc(~'(100vw * 1.25)');
  height: 300px;
  position: relative;
}

footer div.footer_content svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2em;
  width: 40%;
  height: auto;
  fill: @color_white;
  stroke: @color_white;
}

footer div.footer_content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2em;
  width: 40%;
  height: auto;
}

footer div.footer_content p {
  font-size: 1.5em;
  padding: 0em 2em;
  text-shadow: 1px 2px 2px fade(@color_text, 60%);
}

footer div.footer_content p strong {
  display: none;
}

footer div.footer_content div.sign {
  position: absolute;
  padding: 1em 3em;
  left: 0;
  right: 0;
  bottom: 0px;
}

footer div.footer_content div.sign span {
  display: block;
  padding-bottom: 0.5em;
  font-size: 1.5em;
  font-weight: 700;
  color: white;
}

footer div.footer_content a.action {
  padding: 1em 1.5em;
}

footer div.copyright {
  display: inline-block;
  color: white;
}

footer div.copyright a {
  color: white;
}
