/**
 * Main Mobile Style Sheet
 * IBI-Shik 2016
 *
 * Copyright (c) 2016. by Way2CU, http://way2cu.com
 * Authors:Tal Reznic
 */

@import "common.less";
@import "header_mobile.less";
@import "content_mobile.less";
@import "footer_mobile.less";
@import (css)'stock/copyright.css';

body {
  padding-top: 73px;
  background-color: white;
  color: @color_text;
  font-family: 'Arimo', sans-serif;
}

input,
select,
textarea,
button {
  font-weight: 400;
  font-family: 'Arimo', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	margin-bottom: @header_spacing;
	padding: 0;
}

p {
	margin: 0;
	margin-bottom: @paragraph_spacing;
	padding: 0;
}
